body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     
}

.navbar{
    height:5rem;
    background-color: white;
 
}

.fa-compass{
    color:#fe424d;
  
    font-size:2rem;
}

.nav-link{
    color:#222222 !important;
}

.f-info-links a{
    color:#222222;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    display:flex;
    height:8rem;
    text-align: center;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center; 
    align-items:space-evenly;  
}

.f-info-links ,.f-info-socials,.f-info-brand{
    width: 100%;
   display:flex;
   align-items: center;
   justify-content: center;
}


 .f-info-socials i{
 font-size: 1.3rem;
 margin-right: 1rem;
} 

.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
     border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
    
}

.card-body{
    padding:0  !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
opacity:0.2;
background-color: white;
}

.container{
    flex:1
}
.add-btn{
    background-color: #fe424d !important;
}

.show-img{
    height:30vh
}

.btns{
    display:flex;
    align-items: center;
   
}

.review-box{
    background-color: rgb(228, 228, 228) !important;
    

    padding: 12px !important;

}

/* remove default look */
.form-range {
  appearance: none !important;
  width: 100% !important;
  background: transparent !important;
}

/* slider line */
.form-range::-webkit-slider-runnable-track {
  height: 6px !important;
  background: #fe424d !important;
  border-radius: 5px !important;
}

/* slider circle */
.form-range::-webkit-slider-thumb {
  appearance: none !important;
  height: 18px !important;
  width: 18px !important;
  background: #000000 !important;
  border-radius: 50% !important;
  margin-top: -6px !important;
}
#map {
  position: relative;
}

.like-form {
  position: absolute;
  top: 10px;
  right: 10px;
}

.like-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}



.listing-card {
  position: relative;
}

.like-form {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.like-btn {
  background: white;
  border: none;
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.like-btn:hover {
  transform: scale(1.1);
}

.map-wrapper {
  position: relative;
}

.recenter-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 5;

  padding: 4px 8px;
  font-size: 0.9rem;
  border-radius: 6px;
  background-color: white;
}

.recenter-btn:hover {
  background-color: #f0f0f0;
}
